<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emrecan.havadurumu">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true">
        <activity
            android:name="com.emrecan.havadurumu.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HavaDurumu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>